
</!DOCTYPE html>
<html ng-app="filterApp">
<head>
	<title>Filter Examples</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>



</head>
<body>
	<div class="container">
		<h1>Filter Example</h1>
<div ng-controller="filterCtrl">
	Row to display : <input type="number" min="0" min="2" ng-model="rowLimit" class="form-control">
	
	<br><br>
	<table class="table table-bordered">

		<thead>
			<tr>
				<th>Name</th>
				<th>Date of Birth</th>
				<th>Gender</th>
				<th>Salary</th>
				<th>Salary</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="employee in employees | limitTo:rowLimit" >
				<td>{{employee.name | uppercase}}</td>
				<td>{{employee.dob | date:"dd/MM/yyyy"}}</td>
				<td>{{employee.gender | lowercase}}</td>
				<td>{{employee.salary | number}}</td>
				<td>{{employee.salarynum | currency :"$":1}}</td>
			</tr>
		</tbody>
	</table>
</div>
</div>








<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="filterCtrl.js"></script>
</body>
</html>